#contact {
    margin: 0;
    text-align: center;
    background-image: url(../../images/colored-background.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
}

.contact__background {
    display: inline-block;
    width: calc(100% - 60px);
    max-width: 840px;
    margin: 110px 30px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.contact__headline {
    color: white;
}

.contact__invitation {
    text-align: center;
    color: white;
}

.contact__form {
    display: grid;
}

.contact__form--input {
    margin: 10px 20px;
    padding: 10px;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 6px;
}

.form__input--textarea {
    resize: none;
}

.contact__form--button {
    margin: 10px 20px 20px;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    background: rgb(0, 184, 129);
    border-radius: 10px;
    border: none;
}

.contact__form--button:hover {
    cursor: pointer;
    background: rgb(3, 202, 142);
}