.parallax {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.parallax:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 600px;
  z-index: -10;
  background: linear-gradient(
      40deg,
      rgba(0, 0, 0, 1) 0,
      rgba(0, 0, 0, 0.96) 19%,
      rgba(0, 0, 0, 0.88) 34%,
      rgba(0, 0, 0, 0.78) 47%,
      rgba(0, 0, 0, 0.64) 56%,
      rgba(0, 0, 0, 0.5) 65%,
      rgba(0, 0, 0, 0.32) 73%,
      rgba(0, 0, 0, 0.16) 80%,
      rgba(0, 0, 0, 0.08) 86%,
      rgba(0, 0, 0, 0.04) 91%,
      rgba(0, 0, 0, 0.02) 95%,
      rgba(0, 0, 0, 0.01) 98%,
      rgba(255, 255, 255, 0)
    ),
    url("../../images/background.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.parallax-heading {
  align-self: flex-end;
  margin: 0 -20px 20px 20px;
  color: white;
}

@media (min-width: 480px) {
  .parallax-heading {
    margin-bottom: 80px;
  }
}

.parallax-heading__bottom {
  color: rgb(0, 204, 255);
}

.parallax-picture {
  margin-top: 100px;
  margin-bottom: -10px;
  right: 0;
  align-self: flex-end;
  max-width: 54%;
}

.content {
  position: relative;
}
