#projects {
  margin-top: -240px;
  padding-top: 240px;
}

.projects {
  position: relative;
  margin-top: -200px;
  padding: 20px 30px;
  background: #151a1f;
  color: white;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
}

.projects__responsive {
  margin: 30px auto 20px;
  width: 100%;
  max-width: 1240px;
}

.projects__headline {
  color: #44474b;
}

.projects__responsive--background {
  margin: 40px 0 30px;
  padding-top: 10px;
  border-radius: 10px 10px 0 0;
}

#project1 .projects__responsive--background {
  background: linear-gradient(200deg, rgb(10, 218, 173) 0, #003940);
}

#project2 .projects__responsive--background {
  background: linear-gradient(160deg, #02e1ff 0, #001940);
}

.projects__responsive--image {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 60%;
  max-height: 400px;
}

.projects__responsive--description {
  text-align: center;
  margin: -80px 0 20px;
  background: white;
  border-radius: 0 0 10px 10px;
  padding: 70px 30px 0;
}

h4.responsive__description--title {
  margin: 0;
  color: black;
}

.responsive__description--tools {
  color: rgb(0, 204, 255);
}

.responsive__description--details {
  color: rgb(104, 104, 104);
}

.responsive__description--button {
  margin-bottom: 20px;
  padding: 10px 20px;
  font-weight: bold;
  color: white;
  background: #18ad8f;
  border: none;
  border-radius: 10px;
}

.responsive__description--button:hover {
  cursor: pointer;
  background: #1abc9c;
}
