#skills {
    padding: 20px 0 200px;
    background: white;
}

.skills__headline {
    color: #151A1F;
}

.skills-overview {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-overview__icon {
    padding: 10px;
    height: 42px;
}